---
---

$primary: #f12d2d;
$secondary: #f68a1e;
$light: #fff;
$dark: #232323;
$headline: 'Knewave', cursive;
$body: 'Patrick Hand', cursive;

html{
  box-sizing: border-box;
  line-height: 21px;
}

body{
  margin: 0;
  padding: 0;
}
nav.sticky {
  position: fixed !important;
  top:53px;
}
#map{
  display: none;
}
.menu{
  height: 1500px;
}
header{
  position: relative;
  overflow: hidden;
}
.locations-button-area a{
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10%;
  right: 10%;
}
.specials-button-area a{
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
ul{
  padding: 0;
  list-style: none;
}
li a{
  color: #fff;
  text-decoration: none;
}

.top-bar{
  background-color: $dark;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
.bottom-bar{
  background: $dark;
  position: absolute !important;
  bottom: 0;
  padding: 0.1rem 1rem;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
}

.grit-2{
    background-image: url("{{site.baseurl}}/assets/trexture.png");

}
.grit{
    background-image: url("{{site.baseurl}}/assets/trexture.png");

}
.container{
display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.logo{
  max-width: 60%;
  flex: 0.4;
}
ul.menu-mobile {
    display: flex;
    flex: 0.7;
    justify-content: space-between;
    font-family: $headline;
}
ul.menu-mobile li:nth-of-type(1) {
    display: none;
}
ul.menu-mobile li:nth-of-type(3) {
    display: none;
}
.fa-navicon{
  color: $secondary;
}
#toggle{
  display: none;
}
.toggle-navigation-drop{
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  background: $secondary;
  display: none;
}
#toggle:checked + .toggle-navigation-drop{
  display: block;
}
.top-bar label{
    margin-left: 2.2rem;
}
.toggle-flex{
  display: flex;
  margin: auto;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
.toggle-specials{
  font-family: $headline;
  margin-right: 1rem;
  text-align: center;
}
.toggle-social{
display: flex;
  justify-content: space-around;
  flex: 0.5;
  margin: auto;
}
.toggle-specials a{
    color: $light;
}
.toggle-social a{
    color: $dark;
}
.box-1{
  flex:1;
  background: $primary;
}
.box-2{
  flex: 1;
  display: flex;
  background: $secondary;
}
.social-desktop{
  display: none;
}
.social-desktop a{
  color: $secondary;
}

/* site-navigation
-----------------------*/

.home{
    background: url("{{ site.baseurl }}/assets/box-bg-2.png");
    background: $primary;
    min-height: 100vh;
    display: flex;
    width: 100%;
}
.specials{
background: url("{{ site.baseurl }}/assets/box-bg-2.png");
    min-height: 100vh;
    display: flex;
    width: 100%;
}
.locations{
background: url("{{ site.baseurl }}/assets/box-bg-2.png");
    min-height: 100vh;
    display: flex;
    width: 100%;
}
.logo-box{
  align-items: center;
  justify-content: center;
  margin: 187px auto;
}
.logo-box img{
  width: 200px;
}


/* home-slide
-----------------------*/


.arrow{
text-align: center;
margin: auto;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 61px;
z-index: 2;
display: none;
}
.fa-chevron-down {
	font-size: 52px;
	text-align: center;
	padding: 0;
	margin: 0;
  color: $light;
}
.pulse {
	animation: pulse 1s linear infinite;
}

@keyframes "pulse" {
 0% {
   	transform: scale(1.1);
 }
 50% {
   	transform: scale(0.8);
 }
 100% {
   	transform: scale(1);
 }

}

@-moz-keyframes pulse {
 0% {
   transform: scale(1.1);
 }
 50% {
   transform: scale(0.8);
 }
 100% {
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse" {
 0% {
   transform: scale(1.1);
 }
 50% {
   transform: scale(0.8);
 }
 100% {
   transform: scale(1);
 }

}

@-ms-keyframes "pulse" {
 0% {
   transform: scale(1.1);
 }
 50% {
   transform: scale(0.8);
 }
 100% {
   transform: scale(1);
 }

}

.menu-navigation{
  display: flex;
  text-align: center;
  margin: auto;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.menu-navigation img{
  width: 40px;
}
.menu-navigation span{
  display: none;
  font-family: $body;
  color: $light;
  margin-left: 1.2rem;
}

/* specials-slide
-----------------------*/
.specials-box {
    margin-top: 4rem;
    text-align: center;
  }
  .specials-box h2{
    font-size: 2rem;
    font-family: $headline;
    color: $light;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  .locations h2{
    font-size: 2rem;
    font-family: $headline;
    color: $light;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  .specials-box h3{
    font-family: $headline;
    font-size: 1rem;
    color: $secondary;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  .specials-box p{
    font-family: $body;
    color: $light;
    font-size: 0.9rem;
    padding: 0 3rem;
  }
.specials-container{
  position: relative;
  margin: 2rem auto;
}
.locations-container{
  position: relative;
  margin: 2rem auto;
}
.button-area{
display: flex;
margin: auto;
flex-wrap: wrap;
justify-content: space-between;
width: 90%;
}

.button-area li{
  background: #f12d2d;
    width: 48.8%;
    height: 50px;
    margin-bottom: 0.6rem;
    position: relative;
    text-align: center;
    font-family: "Patrick Hand", cursive;
    font-size: 0.8rem;
    cursor: pointer;
}

.button-area li:hover{
    background: #f68a1e;
    color: red;
}


.star{
  display: none;
}
/* location-slide
-----------------------*/
.location-info{
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 1.5rem auto;
}
.info h3{
  font-size: 1rem;
  color: $light;
}
.fa-map-marker{
  color: $secondary;
  font-size: 2rem;
}
.fa-clock-o{
  color: $secondary;
    font-size: 2rem;
}
.hours{
  font-family: $body;
  color: $light;
}
.box-3{
  flex: 0.8;
}
.info p{
  padding: 0;
}
.button-area li a{
  display: block;
}
@media (min-width: 400px){
  ul.menu-mobile li{
    font-size: 1.3rem;
  }
  .top-bar label{
    margin-left: 3rem;
  }
  .toggle-specials li{
    font-size: 1.3rem;
  }
  .toggle-social .fa-facebook-square,
  .toggle-social .fa-twitter{
    font-size: 2.5rem;
  }

  /* site-navigation
  -----------------------*/
  .button-area{
     width: 400px;
   }
  .button-area li{
    font-size: 0.9rem;
  }

    /* home-slide
    -----------------------*/

  .specials-box h2{
    font-size: 2.5rem;
  }
  .locations-box h2{
    font-size: 2.5rem;
  }
 .specials-box p{
   padding: 0 4rem;
 }
 .box-4{
   flex: 0.8;
   align-items: center;
 }
.info p{
  padding: 0;
  margin-bottom: 0;
}
}
@media (min-width: 768px){
  nav.sticky{
    top: 66px;
  }
  .arrow{
    display: block;
  }

  .fa-navicon{
    font-size: 3.4rem;
  }
  .top-bar{
    padding: 1rem 2rem;
  }
  .toggle-navigation-drop{
      top: 98px;
    }
    ul.menu-mobile{
      flex: 0.6;
    }
    .logo{
      flex: 0.3;
    }
  ul.menu-mobile li{
    font-size: 2.5rem;
  }
  .top-bar label{
    margin-left: 5.2rem;
  }
  [type="checkbox"]:checked + .nested-navigation {
  top: 109px;
  }
  .toggle-specials li{
    font-size: 2.5rem;
  }
  .box-2,
  .box-1{
    padding: 1rem 0;
  }
  .toggle-social .fa-facebook-square,
  .toggle-social .fa-twitter{
    font-size: 4.5rem;
  }
.home{
    background: url("{{ site.baseurl }}/assets/home-bg.png");
    background: $primary;
}

.specials{
    background: $primary;
}
.locations{
    background: $primary;
}
.grit-3{
    background-image: url("{{site.baseurl}}/assets/trexture-2.png");

}
.location-info{
  margin: 0 auto;
}
  /* site-navigation
  -----------------------*/

.logo-box img{
  width: 450px;
  margin-top: 5rem;
  }

  /* home-slide
  -----------------------*/

  .menu-navigation span{
    display: block;
  }
  .menu-navigation li{
    display: flex;
      align-items: center;
    }
  .bottom-bar{
    padding: 1rem 2rem;
    height: 10vh;
  }

  /* specials-slide
  -----------------------*/
.specials-container{
  margin: 3rem auto;
  }
  .locations-container{
    margin: 3rem auto;
  }
  .specials-box {
    display: flex;
    flex-direction: column;
    background-color: $dark;
    width: 600px;
    padding: 2rem 0;
    margin-top: 4.5rem;
    }

    /* location-slide
    -----------------------*/

    .locations-box {
      display: flex;
      flex-direction: column;
      background-color: $dark;
      width: 600px;
      padding: 2rem 0;
      margin-top: 4.5rem;
      }
    .grit-4{
      background-image: url("{{site.baseurl}}/assets/trexture-2.png");
    }
    .specials-box h2{
      font-size: 4rem;
      margin-top: 0.6rem;
      margin-bottom: 3rem;
    }
    .locations-box h2{
      font-size: 4rem;
      margin-top: 0.6rem;
      margin-bottom: 3rem;
    }
    .specials-box h3{
      font-size: 2rem;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
    }
    .specials-box p{
      font-size: 1rem;
      padding: 0 9rem;
    }
    .button-area{
      width: 400px;
      justify-content: space-between;
      margin-bottom: 0.7rem;
    }
    .button-area li{
      margin-bottom: 0.6rem;
      font-size: 1.1rem;
      height: 60px;
    }
    .location-info{
      display: flex;
      align-items: center;
        width: 65%;
    }
    .info p{
      padding: 0;
      margin: 0;
    }
.box-3{
  display: flex;
  text-align: left;
  align-items: center;
  }
  .box-4{
    display: flex;
    flex: none;
text-align: left;
align-items: center;
  }
  .fa-map-marker{
    margin-right: 1rem;
    font-size: 3.5rem;
  }
  .fa-clock-o{
    margin-right: 1rem;
    font-size: 3.5rem
  }

  .info h3{
    font-size: 1rem;
  }
}
@media (min-width: 1024px){

  #map{
    display: block;
  }

  .locations-container{
    width: 532px;
position: relative;
  }
  #map{
    position: absolute;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    }

  .container{
    width: 800px;
    margin: auto;
    }
  .logo{
    flex: 0.2;
  }
  .top-bar{
    padding: 1rem 2rem;
  }
  ul.menu-mobile{
    flex: 0.7;
  }
  ul.menu-mobile li{
    font-size: 1.5rem;
  }
  ul.menu-mobile li:nth-of-type(1) {
      display: block;
  }
  ul.menu-mobile li:nth-of-type(3) {
      display: block;
  }
  .social-desktop .fa-facebook-square,
  .social-desktop .fa-twitter {
    font-size: 2rem;
  }
  .fa-navicon{
    display: none;
  }
  .social-desktop{
    display: flex;
    flex: 0.1;
    justify-content: space-between;
  }
  .toggle-navigation-drop{
    display: none;
  }

  /* site-navigation
  -----------------------*/
  .bottom-bar{
    padding: 0.4rem 2rem;
  }
  /* bottom-bar
  -----------------------*/


  .specials-container{
    width: 900px;
    position: relative;
    }
    .specials-box{
      position: absolute;
      right: 0;
      top: 0;
      box-shadow: 0 2px 45px rgba(0,0,0,1);
    }
    .locations-box{
      position: absolute;
      left: -200px;
      top: 0;
      box-shadow: 0 2px 45px rgba(0,0,0,1);
    }
    .star{
      display: block;
      position: absolute;
    left: -258px;
    top: 0;
    }
    .star img{
      width: 730px;
    }
    .info h3{
      font-size: 1rem;
    }
}
@media (min-width: 1200px){


  /* site-navigation
  -----------------------*/

  /* bottom-bar
  -----------------------*/

}
@media (min-width:1024px) and (max-height: 768px){
.logo-box img{
  margin-top: -1.5rem;
  width: 460px;
  }
  .top-bar{
    padding: 0.2rem 2rem;
  }
  .bottom-bar{
    padding: 0.5rem 0 0.9rem 0;
    height: 35px;
  }
  .star{
    left: -240px;
  }
  .star img{
    width: 660px;
  }
  .specials-box{
    right: -30px;
    padding: 2rem 0 1rem;
    margin-top: 3.3rem;
  }
  .specials-box h2{
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .locations-box{
    margin-top: 3.3rem;
  }
  .locations-box h2{
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .specials-box h3{
    font-size: 1.3rem;
  }
  .specials-box p{
  margin-top: 0.4rem;
  }
  .button-area li{
    font-size: 1rem;
    height: 50px;
  }
  .arrow{
    bottom: 24px;
  }
  .home .arrow{
    bottom: 105px;
  }
  .info h3{
    font-size: 1rem;
  }
}

@media (min-width:1400px){
  nav.sticky{
    top: 115px;
  }
  .menu-navigation img {
      width: 65px;
  }
  .menu-navigation span {
      font-size: 1.5rem;
  }
  .logo{
    flex: 0.2;
  }
  ul.menu-mobile li{
    font-size: 2rem;
  }
  .social-desktop .fa-facebook-square, .social-desktop .fa-twitter {
    font-size: 2.6rem;
}
.logo-box img{
  width: 700px;
  margin-top: 50px;
}
  .container{
    width: 1200px;
  }
  .menu-mobile li{
    font-size: 2.2rem;
  }
  .specials-box{
    top: 48px;
    right: -220px;
    padding: 4.5rem 4rem 4rem 4rem;
  }
  .locations-box{
    position: absolute;
    left: -500px;
    top: 28px;
    box-shadow: 0 2px 45px rgba(0,0,0,1);
  }
  .specials-box h2{
  font-size: 5.7rem;
  margin-bottom: 3.8rem;
}
.locations-box h2{
font-size: 5rem;
margin-bottom: 3.5rem;
}
  .star{
    left: -466px;
  }
.star img{
  width: 925px;
  }
  .home .arrow{
  bottom: 145px;
  }
  .specials .arrow{
    bottom: 78px;
  }
  .locations .arrow{
    bottom: 78px;
  }
  .fa-chevron-down {
  	font-size: 65px;
  }
  .locations-container{
    width: 332px;
position: relative;
margin-top: 4.5rem
  }
}
