---
layout: default
---
<header class="locations grit grit-3" >
    {% include site-navigation.html %}

    <div id="map_canvas"></div>


  <div class="button-location-container">
    <div class="specials-box locations-box">
      <h2>Locations</h2>
      <ul class="locations-button-area button-area">
        <li id="link1"><a id="link-avalon">avalon</a></li>
        <li id="link2"><a id="link-southside">southside</a></li>
        <li id="link3"><a id="link-carnegie">carnegie</a></li>
        <li id="link4"><a id="link-coraopolis">coraopolis</a></li>
        <li id="link5"><a id="link-aliquippa">aliquippa</a></li>
        <li id="link6"><a id="link-beechview">beechview</a></li>
        <li id="link7"><a id="link-weirton">weirton</a></li>
        <li id="link8"><a id="link-midland">mideland</a></li>
      </ul>

      <div id="avalon-info">
        <div class="location-info">
          <div class="box-3">
          <i class="fa fa-map-marker fa-4x"></i>
          <div class="info">
            <h3 class="number">724.767.7468</h3>
            <p>344 Union Avenue Pittsburgh, PA 15202</p>
            </div>
          </div>

          <div class="box-4">
          <i class="fa fa-clock-o fa-4x"></i>
          <ul class="hours">
            <li>Mon-Thur: 4:30-11</li>
            <li>Fri-Sat: 11-11</li>
            <li>Sunday: 12-9</li>
          </ul>
          </div>
          </div>
      </div>


      <div id="southside-info">
        <div class="location-info">
          <div class="box-3">
          <i class="fa fa-map-marker fa-4x"></i>
          <div class="info">
            <h3 class="number">412.381.7468</h3>
            <p>1324 E. Carson St Pittsburgh, PA 15203</p>
            </div>
          </div>

          <div class="box-4">
          <i class="fa fa-clock-o fa-4x"></i>
          <ul class="hours">
            <li>Mon-Thur: 4:30-11</li>
            <li>Fri-Sat: 11-11</li>
            <li>Sunday: 12-9</li>
          </ul>
          </div>
          </div>
        </div>

          <div id="carnegie-info">
            <div class="location-info">
              <div class="box-3">
              <i class="fa fa-map-marker fa-4x"></i>
              <div class="info">
                <h3 class="number">412-276-8887</h3>
                <p>1006 Washington Avenue Carnegie, PA 15106</p>
                </div>
              </div>

              <div class="box-4">
              <i class="fa fa-clock-o fa-4x"></i>
              <ul class="hours">
                <li>Mon-Thur: 4:30-11</li>
                <li>Fri-Sat: 11-11</li>
                <li>Sunday: 12-9</li>
              </ul>
              </div>
              </div>
      </div>

      <div id="coraopolis-info">
        <div class="location-info">
          <div class="box-3">
          <i class="fa fa-map-marker fa-4x"></i>
          <div class="info">
            <h3 class="number">412-269-7468</h3>
            <p>1534 5th Avenue, Coraopolis, PA 15108</p>
            </div>
          </div>

          <div class="box-4">
          <i class="fa fa-clock-o fa-4x"></i>
          <ul class="hours">
            <li>Mon-Thur: 4:30-11</li>
            <li>Fri-Sat: 11-11</li>
            <li>Sunday: 12-9</li>
          </ul>
          </div>
          </div>
  </div>

  <div id="aliquippa-info">
    <div class="location-info">
      <div class="box-3">
      <i class="fa fa-map-marker fa-4x"></i>
      <div class="info">
        <h3 class="number">724-378-3083</h3>
        <p>2282 Brodhead Rd, Aliquippa, PA 15001</p>
        </div>
      </div>

      <div class="box-4">
      <i class="fa fa-clock-o fa-4x"></i>
      <ul class="hours">
        <li>Mon-Thur: 4:30-11</li>
        <li>Fri-Sat: 11-11</li>
        <li>Sunday: 12-9</li>
      </ul>
      </div>
      </div>
</div>

<div id="beechview-info">
  <div class="location-info">
    <div class="box-3">
    <i class="fa fa-map-marker fa-4x"></i>
    <div class="info">
      <h3 class="number">412-343-7468</h3>
      <p>2102 Broadway Ave, Pittsburgh, PA 15216</p>
      </div>
    </div>

    <div class="box-4">
    <i class="fa fa-clock-o fa-4x"></i>
    <ul class="hours">
      <li>Mon-Thur: 4:30-11</li>
      <li>Fri-Sat: 11-11</li>
      <li>Sunday: 12-9</li>
    </ul>
    </div>
    </div>
</div>


<div id="weirton-info">
  <div class="location-info">
    <div class="box-3">
    <i class="fa fa-map-marker fa-4x"></i>
    <div class="info">
      <h3 class="number">Coming Soon</h3>
      </div>
    </div>
    </div>
</div>

<div id="midland-info">
  <div class="location-info">
    <div class="box-3">
    <i class="fa fa-map-marker fa-4x"></i>
    <div class="info">
      <h3 class="number">Coming Soon</h3>
      </div>
    </div>
    </div>
</div>


    </div>

    <div class="pulse arrow">
      <i class="fa fa-chevron-down fa-2x"></i>
    </div>

  </div>
      {% include menu-navigation.html %}
</header>

<article class="menu menu-texture">
      {% include menu.html %}
</article>
