---
layout: default
---
<header class="locations grit grit-3" >
    {% include site-navigation.html %}

  <div id="map_canvas"></div>
  <div class="button-container">
    <div class="specials-box locations-box grit">
      <h2>Locations</h2>
      <ul class="locations-button-area button-area">
        <li id="link1"><a href="{{ site.baseurl }}/bellvue.html">bellvue</a></li>
        <li id="link2"><a href="{{ site.baseurl }}/southside.html">southside</a></li>
        <li><a href="{{ site.baseurl }}/carnegie.html">carnegie</a></li>
      </ul>
      <div class="location-info">
        <h1>southside/h1>
      </div>

    </div>
    <div class="pulse arrow">
      <i class="fa fa-chevron-down fa-2x"></i>
    </div>

  </div>
      {% include menu-navigation.html %}
</header>

<article class="menu grit">
      {% include menu.html %}
</article>
