<nav class="bottom-bar menu-nav-texture">
  <div class="container">
    <ul class="menu-navigation">
        <li><a id="bounce1" href="#sandwiches"><img class="bounce1"  src="{{ "/assets/burger.svg" | prepend: site.baseurl }}" atl="logo"><span class="bob">Sandwiches</span></a></li>
      <li><a id="bounce2" href="#wings"><img class="bounce2" src="{{ "/assets/wing.svg" | prepend: site.baseurl }}" atl="logo"><span class="bob">Wings</span></a></li>
<li><a id="bounce3" href="#salads"><img class="bounce3" src="{{ "/assets/salads.svg" | prepend: site.baseurl }}" atl="logo"><span class="bob">Salads</span></a></li>
<li><a id="bounce4" href="#sides"><img class="margin-top bounce4" src="{{ "/assets/fries.svg" | prepend: site.baseurl }}" atl="logo"><span class="bob">Sides</span></a></li>
    </ul>
  </div>
</nav>
