<div class="menu-container">
  <a id="wings"></a>
  <h2>Menu</h2>
  <h5>Wing Prices</h5>
  <div class="wings-pic-price">
    <div class="wing-box">
      <img src="{{ "/assets/wing.jpg" | prepend: site.baseurl }}" atl="logo">
    </div>
    <div class="wing-price">
      <h4>6 Wings<br>
        <span class="price"><span class="dollar-sign">$</span>8<span class="cents">. 00</span></span><span class="dots"></span>
      </h4>
        <h4>13 Wings<br>
          <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="dots"></span>
        </h4>
        <h4>50 Wings<br>
          <span class="price"><span class="dollar-sign">$</span>20<span class="cents">. 00</span></span><span class="dots"></span>
        </h4>
          <h4>99 "The Wing Gretsky"<br>
            <span class="price"><span class="dollar-sign">$</span>49<span class="cents">. 00</span></span>
          </h4>
    </div>
  </div>
  <h5>Wing Flavors</h5>
  <div class="wings">
    <div class="left-col">
      <h4 class="food-item">Ace Boogie<br> <span class="food-item-description">Black Magic, Butter &amp; Dry Ranch</span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Ain't My Faulks<br> <span class="food-item-description">Butter, Dry BBQ, Dry Garlic, Dry Ranch</span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">All In Dry<br> <span class="food-item-description"> Mix Of All Dry Seasonings</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">All In Wet<br> <span class="food-item-description">Mix Of Random Wet Sauces</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">B.A.D<br> <span class="food-item-description">Buttered Atomic Dust</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Baby Blues<br> <span class="food-item-description">Blue Cheese, Franks Hot Sauce &amp; Cayenne</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">BBQ (Wet/Dry)<br> <span class="food-item-description">Black Magic, Butter &amp; Dry Ranch</span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">BBQ Ranch<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Big Easy<br> <span class="food-item-description">BSB's Lousiana Licker</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Big Fine Woman 2000<br> <span class="food-item-description">Dark BBQ &amp; Black Magic</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">The Big Picture<br> <span class="food-item-description">Salt, Butter, &amp; Parmesan Cheese</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Big Sexy<br> <span class="food-item-description">Mark's Signature Flavor</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black &amp; Gold<br> <span class="food-item-description">Gold BBQ &amp; Black Magic</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black &amp; Mild<br> <span class="food-item-description">Mild Sauce &amp; Black Magic</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black &amp; Yellow<br> <span class="food-item-description">Sweet Honey Mustard &amp; Black Magic</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black Frank White<br> <span class="food-item-description">A Mixture Of Frank's, Ranch, &amp; Black Magic</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black Magic<br> <span class="food-item-description">Butter, Black Magic, &amp; Cajun Seasoning</span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Black Opts<br> <span class="food-item-description">The Special Wing Sauce Of Cory Freeman</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Bob's Honey Mustard<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Bob's Signature Hot<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Cajun (Wet/Dry)<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Cajun Garlic (Wet/Dry)<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Cajun Ranch (Wet/Dry)<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Chili Palmer<br> <span class="food-item-description">Ranch &amp; Chili Powder</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Cool Runnings<br> <span class="food-item-description">Jamaican Jerk Mixed With Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Coraopolis Cajun<br> <span class="food-item-description">Mild Cajun Developed In Coraopolis</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Coraopolis Gunslinger<br> <span class="food-item-description">BSB Signature Jalapeno Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Dark BBQ<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Eye Of The Tiger<br> <span class="food-item-description">Talk Of Beaver Falls Mixed With Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Flaming Flamingo<br> <span class="food-item-description">Hot Garlic Chili With A Ranch Base</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Flossin' Season<br> <span class="food-item-description">Dry Ranch &amp; Lowry's</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Flying Dutchman<br> <span class="food-item-description">Butter, Green Jalapeno, Black Magic, &amp; Parmesan</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Frank Sinatra<br> <span class="food-item-description">A mixture of Frank's &amp; Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Frank White<br> <span class="food-item-description">A mixure of Franks, &amp; Ranch Frank's Red Hot</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Frankie Valli<br> <span class="food-item-description">Frank's, Ranch &amp; Parmesan Cheese</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Game Changer<br> <span class="food-item-description">Mr.C's, Ranch &amp; Garlic</span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Garlic Butter<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Garlic Butter Parm<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Garlic Ranch(Wet/Dry)<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Gold<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Gold Fire<br> <span class="food-item-description">Hot Gold BBQ</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Habanaro Wet<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Harlem Heat<br> <span class="food-item-description">Dry Hot Buffalo Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Headless Horseman<br> <span class="food-item-description">Horseradish Heat</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey BBQ<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Bunny<br> <span class="food-item-description">Sweet Hot Chili Ranch</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Cajun<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Dijon<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Garlic<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Old Bay<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Honey Ranch<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Cajun<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Garlic(Wet/Dry)<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Garlic Parmesan<br> <span class="food-item-description"></span>
        <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Honey<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Honey Garlic<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Old Bay(Wet/Dry)<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hot Ranch Dry<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Hottest Of The Hot<br> <span class="food-item-description"></span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"> <span class="food-item-dots"> </span>
      </h4>
      <h4 class="food-item">Jamaican Frank<br> <span class="food-item-description">Butter &amp; Caribbean Jerk</span>
        <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"></span>
      </h4>
  </div>
  <div class="right-col">
    <h4 class="food-item">Jamaican Jerk<br> <span class="food-item-description">Butter &amp; Caribbean Jerk</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Lady Luck<br> <span class="food-item-description">Hot Sauce &amp; Ranch Seasoning</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Lemon Pepper<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Lemon Pepper Parmesan<br> <span class="food-item-description"></span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Lemon Pepper Ranch<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Lil Bubs<br> <span class="food-item-description">BBQ, Medium, Ranch, BBQ Seasoning</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Magic Man<br> <span class="food-item-description">Hot Sauce &amp; Black Magic Seasoning</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mean Joe Green<br> <span class="food-item-description">Black &amp; Gold with Green Jalapeno Sauce</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Medium<br> <span class="food-item-description"></span>
    <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Medium Garlic Parmesan<br> <span class="food-item-description"></span>
      <span class="food-item-dots"></span>
    </h4>
    <h4 class="food-item">Mild<br> <span class="food-item-description"></span>
     <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mild Garlic Parmesan<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mild Old Bay<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mild Ranch<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mister C's<br> <span class="food-item-description">Black Magic &amp; Parmesan Cheese</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Montreal(Wet/Dry)<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">The Most Interesting Flavor In the World<br> <span class="food-item-description">Very Interesting</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Mr. Northside<br> <span class="food-item-description">Honey Mustard &amp; BBQ</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Napoleon<br> <span class="food-item-description">Sweet Buffalo</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Napoleon Dynamite<br> <span class="food-item-description">Sweet Buffalo &amp; Cayenne Pepper</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Napoleon Garlic<br> <span class="food-item-description">Sweet Buffalo</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Old Bay(Wet/Dry)<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Old Bay Ranch<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Old School<br> <span class="food-item-description">BSB's Signature Seasoned Medium Sauce</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">OMG<br> <span class="food-item-description">BSB's Ghostly Sweet Heat</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">OX's<br> <span class="food-item-description">BBQ Jerk</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Peppercorn Ranch<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Peppercorn Ranch Parmesan<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Pigeon Wings<br> <span class="food-item-description">Napoleon With Garlic &mp; Parmesan</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Plain<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Polish Hill Strangler<br> <span class="food-item-description">Honey Mustard &amp; Cayenne Pepper</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Pookie<br> <span class="food-item-description">Talk Of Beaver Falls &amp; Pigeon Sauce</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Primetime<br> <span class="food-item-description">Sweet Hot Garlic Golden BBQ</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Ranch(Wet/Dry)<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Salt &amp; Pepper<br> <span class="food-item-description"></span>
    <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Salt &amp; Vinegar<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Seasoned<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Showtime<br> <span class="food-item-description">Salt &amp; Butter</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Spicy BBQ<br> <span class="food-item-description"></span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Steel City<br> <span class="food-item-description">Mild Buffalo with Ranch Seasoning &amp; Parmesan</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Superfly TNT<br> <span class="food-item-description">Jamaican Jerk &amp; Ranch Dressing</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Sweet Chili<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Talk Of Beaver Falls<br> <span class="food-item-description">Hot &amp; Tangy</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Teriyaki<br> <span class="food-item-description"></span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Three Rivers<br> <span class="food-item-description">Honey Mustard, BBQ &amp; Ranch</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Thunderlips<br> <span class="food-item-description">Ranch Dressing &amp; BSB's Atomic Dust</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Too Easy<br> <span class="food-item-description">Salt, Pepper &amp; Hot Sauce</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Uncle Nick's<br> <span class="food-item-description">Hot Spicy Garlic &amp; Honey BBQ</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Uncle Rico's<br> <span class="food-item-description">Sweet Spicy Garlic Honey Mustard</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Walk Of Beaver Falls<br> <span class="food-item-description">Talk Of Beaver Falls But Hotter</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Westview Connection<br> <span class="food-item-description">BSB's Wet Cajun Garlic With Green Jalepeno Base</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">William Henry Harrison<br> <span class="food-item-description">Jamaican Jerk &amp; Parmesan Cheese</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Wink &amp; Gun<br> <span class="food-item-description">Hot, Sweet Ranch</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Your Flavor Here<br> <span class="food-item-description">Come Up With Something Interesting And We May Add It To The Menu</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">Yum, Yum, Yum<br> <span class="food-item-description">Beechview Original Japanese Shrimp Sauce</span>
      <span class="food-item-dots"> </span>
    </h4>
    <h4 class="food-item">24 Strong<br> <span class="food-item-description">Hot Sweet Cajun Parm</span>
      <img class="hot" src="{{ "/assets/chili-icon.png" | prepend: site.baseurl }}" atl="logo">
    </h4>
    <span class="note">*Spiciness Is subjective. Call and ask if you want to be sure a flavor isn't too hot for you.</span>

</div>
<a id="sandwiches"></a>
</div>
<h2 class="smaller">Burgers, Hoagies &amp; Gyros</h2>
<h5>Burgers</h5>
  <h4 class="food-item">Hamburger<br> <span class="food-item-description">1/2 lb burger topped with Lettuce, Tomato, onion, Mayo, Mustard, Ketchup, Pickles</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Cheeseburger<br> <span class="food-item-description">Cheese—Provolone, American, or Swiss</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Three Cheese Burger<br> <span class="food-item-description">1/2 lb burger with American, provolone, swiss, &amp; Mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">The Big Mick<br> <span class="food-item-description">Two 1/2 lb burgers, American Cheese, lettuce, tomato, onion, pick-les, &amp; Thousand Island Dressing</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Rodeo (Ro-Day-Oh) Burger<br> <span class="food-item-description">1/2 lb burger topped with mush-rooms, bacon, onion rings, &amp; pro-volone, Smothered in BBQ sauce</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Big Shot Burger<br> <span class="food-item-description">1/2 lb burger topped with lettuce, tomato, onion, pickle, mayo, mus-tard, ketchup, onion rings, mush-rooms, bacon, and American Cheese</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">The Big Aristotle<br> <span class="food-item-description">1/2lb burger stacked with extra bacon, American cheese, ketchup, mustard, mayo, lettuce, tomato, onion, pickle</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</s pan></span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">O.P.T.B.L.T.<br> <span class="food-item-description">Bacon, Bacon, Bacon, Lettuce, To-mato, American Cheese, &amp; Mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Grilled Cheese<br> <span class="food-item-description">Your choice of American, Provolone, or Swiss</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Grilled Chicken Sandwich<br> <span class="food-item-description">Freshly Cut Chicken Breast Topped with any Wing Flavor</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">The “Big Ern” McCracken<br> <span class="food-item-description">Freshly grilled peppercorn chicken topped with bacon, Swiss cheese, lettuce, tomato, onion, &amp; BSB’s Honey Mustard</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>
  <h5>Hoagies</h5>
  <h4 class="food-item">Italian<br> <span class="food-item-description">Ham, Salami, Cappicola, Pepperoni, Provolone, Lettuce, Tomato, Onion, &amp; Italian Dressing</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Philly Cheesesteak<br> <span class="food-item-description">8 oz of Steak, Green peppers, Mushroom, Onion, provo-lone, &amp; mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Chicken Philly<br> <span class="food-item-description">Grilled Chicken Breast, Green peppers, Onion, mushroom, provolone, &amp; mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Mushroom Cheesesteak<br> <span class="food-item-description">8 oz of steak, mushroom, provolone, &amp; mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Hot Sausage Hoagie<br> <span class="food-item-description">12 oz Ricci's hot sausage, provolone, green peppers, onions, marinara</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">The Tom Hardy<br> <span class="food-item-description">Buffalo Chicken, bacon, provolone, American cheese, onion, banana peppers, lettuce, &amp; Ranch dressing</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Italian Stallion<br> <span class="food-item-description">BSB’s Italian Hoagie with Double Meat, &amp; banana peppers</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Soldier<br> <span class="food-item-description">World Famous - Chicken Fingers, Bacon, Gyro Meat, and provolone smothered in Golden BBQ sauce</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Cheesesteak<br> <span class="food-item-description">8 oz Steak, Provolone, Lettuce, Tomato, Onion, Mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Grilled Chicken<br> <span class="food-item-description">Grilled Chicken Breast, Provolone, &amp; choose one of the following: Buffalo, Spicy, BBQ, Parmesan, or Plain.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Pepper Cheesesteak<br> <span class="food-item-description">8 oz Steak, green peppers, banana peppers, &amp; provolone, &amp; Mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Chicken, Steak &amp; Cheese<br> <span class="food-item-description">Grilled Chicken, Steak, lettuce, tomato, onion, provolone, &amp; mayo</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Beaver Falls Torpedo<br> <span class="food-item-description">Steak, provolone, Banana Peppers, Green Peppers, &amp; Marinara Sauce</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Sloppy Broadway Joe<br> <span class="food-item-description">1 lb of ground beef mixed with onions, green peppers, traditional Sloppy Joe sauce, &amp; American Cheese</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">The Jimmy Detillo<br> <span class="food-item-description">12 oz steak, 6 provolone sticks, mayo, extra provolone cheese</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>

  <h5>Gyros &amp; Pitas</h5>
  <h4 class="food-item">Chicken Gyro<br> <span class="food-item-description">a gyro made with chicken, duh</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Steak Gyro<br> <span class="food-item-description">a gyro made with...Steak!</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>
  <a id="salads"></a>
  <h2>Salads</h2>
  <h5>Salads</h5>
  <h4 class="food-item">House Salad<br> <span class="food-item-description"> Made with fresh greens</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Steak Salad<br> <span class="food-item-description">Steak, cheese, french fries, lettuce, tomato, onion, green pepper.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Buffalo Chicken Salad<br> <span class="food-item-description">Grilled or fried chicken in your choice of wing sauce, cheese, french fries, lettuce, tomato, onion, green pepper.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">
Grilled Chicken Salad<br> <span class="food-item-description">Grilled chicken, cheese, french fries, lettuce, tomato, onion, green pepper.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Gyro Salad<br> <span class="food-item-description">Gyro meat, cheese, french fries, lettuce, tomato, onion, green pepper.
Dressings: Ranch, Bleu Cheese, Italian, French, Thousand Island</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Cajun Chicken Salad<br> <span class="food-item-description">Grilled chicken tossed in Cajun seasoning, cheese, french fries, lettuce, tomato, onion, green pepper.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Chicken &amp; Steak Salad<br> <span class="food-item-description">Grilled chicken, steak, cheese, french fries, lettuce, tomato, onion, green pepper.</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>
    <a id="sides"></a>
  <h2>Sides</h2>
  <h5>Appetizers</h5>
  <h4 class="food-item">Bed of Fries<br> <span class="food-item-description">Only available with purchase of wings</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Small Fries<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Large Fries<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Large Fries<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Onion Rings<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">C.R.E.A.M. Cheese Poppers<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Bacon Ranch Cheese Fries<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Tator Tots<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Bacon Ranch Cheese Tots<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Chicken Fingers<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Provolone Sticks<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Ranch or Blue Cheese Dressing<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Celery<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>
  <h5>Drinks</h5>
  <h4 class="food-item">Coke Products<br> <span class="food-item-description">Cans &amp; Liters</span>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span><span class="food-item-dots"></span>
  </h4>
  <h4 class="food-item">Bottled Water<br>
      <span class="price"><span class="dollar-sign">$</span>13<span class="cents">. 00</span></span>
  </h4>
</div>

<footer>
  <div class="container">
    <img src="{{ "/assets/home-logo.svg" | prepend: site.baseurl }}" alt="Big Shot Bobs Logo">
    <span class="copy">Big Shot Bobs &copy; 2017. All Rights Reserved.</span>
    <span class="creators">Site Created with <i class="fa fa-beer"></i> By <a href="http://chrisbrennanpgh.com/" target="_blank">Chris Brennan &amp; Cyrus Conner</a></span>
    <img class="jek" src="{{ "/assets/jek.png" | prepend: site.baseurl }}" alt="jekyll">
  </div>
</footer>
</div>
