<nav class="bottom-bar grit-2">
  <div class="container">
    <ul class="menu-navigation">
      <li><a href="#wings"><img src="{{ "/assets/wing-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="bob">Wings</span></a></li>
      <li><a href="#sandwiches"><img src="{{ "/assets/burger-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="bob">Sandwiches</span></a></li>
<li><a href="#salads"><img src="{{ "/assets/salad-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="bob">Salads</span></a></li>
<li><a href="#sides"><img src="{{ "/assets/fries-icon.png" | prepend: site.baseurl }}" atl="logo"><span class="bob">Sides</span></a></li>
    </ul>
  </div>
</nav>
