<nav class="top-bar">
  <div class="container">
    <div class="logo">
    <img class="logo" src="/assets/logo.png" atl="logo">
    </div>

    <ul class="menu-mobile">
      <li><a href="#">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Specials</a></li>
      <li><a href="#">Locations</a></li>
    </ul>


    <label for="toggle">
      <i class="fa fa-navicon fa-2x"></i>
    </label>
     <input type="checkbox" id="toggle"/>
     <div class="toggle-navigation-drop">
       <div class="toggle-flex">
         <div class="box-1">
           <ul class="toggle-specials">
             <li><a href="#">Specials</a></li>
           </ul>
         </div>
         <div class="box-2">
           <ul class="toggle-social">
             <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
           </ul>
         </div>
       </div>
     </div>

    <ul class="social-desktop">
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
    </ul>

  </div>
</nav>
