<div class="specials-container">

  <div class="star">
    <img src="{{ "/assets/star.png" | prepend: site.baseurl }}"alt="">
  </div>

--->

  <div class="specials-box">
    <h2>Specials</h2>
    <ul class="button-area">
      <li><a href="#">All You Can Eat Wings</a></li>
      <li> <a href="#">2 orders of 13 wings and any of the below hoagies</a></li>
      <li> <a href="#">Debate Special 9/26/16 ONLY!</a></li>
      <li><a href="#">Carnegie Special Today Only (7/22/15)</a></li>
      <li><a href="#">Valentine’s Day Specials Valid 2/14/15 Only</a></li>
      <li>  <a href="#">Lenten Special until 4/5/15</a></li>
    </ul>
    <h3>All You Can Eat Wings</h3>
    <p>For two weeks only in Aliquippa Only!!!
2 orders of 13 wings and any of the below hoagies for only 29.99</p>
  </div>
</div>
