<!DOCTYPE html>
<html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
         <title>Big Shot Bobs</title>
         <link href="https://fonts.googleapis.com/css?family=Knewave|Patrick+Hand" rel="stylesheet">
         <script src="https://use.fontawesome.com/d7c2c686b6.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
         <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}" type="text/css">
    </head>

    <body>


          {{content}}
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript"></script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZjKSS2EU47lcxnEFhESN3PCeS1u4fTT0&callback=initMap"></script>
</html>
