<!DOCTYPE html>
<html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width,initial-scale=1">
         <title>Sidecar Theme</title>
         <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:400,600" rel="stylesheet">
         <script src="https://use.fontawesome.com/d7c2c686b6.js"></script>
         <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    
    <body>
        <div class="container">

            <div class="sidebar">
                <h1>Rusty Doghes</h1>
                <img src="http://placecorgi.com/200/200">
                <h2>Tagline welcome to my site!</h2>
                <nav>
                    <ul>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Link 1</a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Link 2</a></li>
                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i>Link 3</a></li>
                    </ul>
                </nav>
            </div>
            <div class="main-content">
                    <h3>Blog post title</h3>
                    <h4><i class="fa fa-angle-double-right" aria-hidden="true"></i>
January 9, 2017</h4>
                    <p>Lorem ipsum dolor sit amet blah blah blah.</p>
            </div>   
        </div>        
    </body>
</html>
