<!DOCTYPE html>
<html>
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width,initial-scale=1">
         <title>Big Shot Bobs</title>
         <link href="https://fonts.googleapis.com/css?family=Knewave|Patrick+Hand" rel="stylesheet">
         <script src="https://use.fontawesome.com/d7c2c686b6.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
         <link rel="stylesheet" href="{{ "css/style.css, " | prepend: site.baseurl }}" type="text/css">
    </head>

    <body>
          {% include site-navigation.html %}
            {{content}}
          {% include menu-navigation.html %}
    </body>
</html>
